body {
  margin: 0px;
  padding: 0px;
}

.nav-list {
  margin-top: 20px;
  padding: 0px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  background-color: #5353ee;
  position: relative;
  list-style: none;
}

.nav-link {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 14px 16px;
  width: 175px;
  height: 25px;
  line-height: 25px;
  border-right: 1px solid #333;
  border-left: 1px solid #333;
}

.navbar-image {
  display: block;
  padding: 0px;
  margin: 0px;
}

.nav-link:hover {
  color: white;
  background-color: #111;
  border-color: white;
}
