:root {
  --eerie-black: #1c1c1cff;
  --russian-green: #6b8f71ff;
  --light-cyan: #cdf7f6ff;
  --maximum-blue-purple: #9ba2ffff;
  --glossy-grape: #a799b7ff;
}

body {
  background-color: var(--eerie-black);
}

.container {
  margin: 5 5 5 5;
}

.nav-link {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 14px 16px;
  width: 175px;
  height: 25px;
  line-height: 25px;
}

.buttons {
  margin-top: 50px;
}

#aboutme {
  margin-top: 100px;
}

form {
  margin-top: 100px;
  width: 800px;
}
