:root {
  --eerie-black: #1c1c1cff;
  --russian-green: #6b8f71ff;
  --light-cyan: #cdf7f6ff;
  --maximum-blue-purple: #9ba2ffff;
  --glossy-grape: #a799b7ff;
}

.container {
  margin: 5 5 5 5;
}

.nav-link {
  display: block;
  color: var(--glossy-grape);
  text-align: center;
  text-decoration: none;
  padding: 14px 16px;
  width: 175px;
  height: 25px;
  line-height: 25px;
}

.buttons {
  margin-top: 25px;
}

#aboutme {
  margin-top: 100px;
}

form {
  margin-top: 100px;
}

#projects {
  margin-top: 100px;
}

.footer-text {
  font-weight: lighter;
  font-style: italic;
}

h1 {
  border-bottom: 20px;
}

.background {
  border-color: darkgrey;
  border-style: solid;
  border-width: 0.5px;
  background-image: url("../images/bird.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-attachment: fixed;
  margin-top: 30px;
  margin-bottom: 10px;
}
