:root {
  --eerie-black: #1c1c1cff;
  --russian-green: #6b8f71ff;
  --light-cyan: #cdf7f6ff;
  --maximum-blue-purple: #9ba2ffff;
  --glossy-grape: #a799b7ff;
}

body {
  background-color: var(--eerie-black);
}

.test {
  font-size: 100px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0px;
  padding: 0px;
}
